ACTION=="bind", SUBSYSTEMS=="usb", ATTRS{idVendor}=="04b0", ATTRS{idProduct}=="0428", RUN+="/usr/bin/python /home/pi/nikon_dark_current_enable/nikon_dark_current_enable_d7000.py"

